html {
	background-color: #c5170a;
}

div {
	background-color: #fbb3ae;
}

input[type=number] {
	width: 3em;
}

textarea {
	margin-left: 5px;
}

.yellow {
	background-color: #ffc;
	border:  solid 2px yellow;
}

.purple {
	background-color: #f5ccff;
	border:  solid 2px purple;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbb3ae;
}

li {
  float: left;
}

li a {
  display: block;
  color: #4d0000;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  border: 1px solid #4d0000;
  border-radius: 4px;
}

li a:hover {
  background-color: #f66;
}